body{
    margin: 0px;
}

/*Resize and adjust image*/

#header {
    background-image: url("design2_image1.jpeg");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: 20px;
    border: 2px solid black;
}


/*Set list properties*/

.nav {
    list-style: none;
    margin top: 45px;
    position: absolute;
    top: 70px;
    right: 20px;
    display: flex;
    padding: 0;
}


a:hover{
    background-color: green;
}

/* Editing directly through link due to overiding issues with weblink,
setting properties*/

.link {
    color: white;
    text-decoration: none;
    margin: 10px 10px 10px 10px;
    border: 2px solid black;
    background-color: darkblue;
    font-size: 20px;
    box-shadow: 5px 5px black;
    padding: 8px;
}


/* Top left corner text placement and properties*/

.topleft {
    font-size: 60px;
    font-family: monospace;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

/*Poisiton logo image*/

.logo {
    float: left;
    margin-left: 20px;
    margin-right: 100px;
    width: 120px;
}


/*Title properties and "box"*/

#title {
    text-align: center;
    border: 3px solid black;
    color: black;
    background-color: none;
    margin-top: 0;
    font-size: 40px;
    font-family: sans-serif;
    padding: 15px;
}

.mainContent {
    width: 1200px;
}

#contentRules{
    text-align: center;
}

h3{
    text-align: center;
    font-size: 30px;

}

#table1{
    width: 70%;
    text-align: center;
}

#table1 tr th{
    text-decoration: underline;
}

#table1 tr td{
   padding-left: 15px;
}

#table2{
    width: 70%;
    margin-top: 40px;
    text-align: center;
}

#table2 tr th{
    text-decoration: underline;
}

#table3{
    margin-top: 40px;
    border-spacing: 30px;
}

#table3 tr td{
   padding-left: 15px;
}



.adjustpos{
    margin-left: 237px;
}