*{
    box-sizing: border-box;
    font-family: helvetica;
    /*Welche Schriftart?*/
}
/* Damit sich die Ränder der Boxen nicht verschieben (fast für jede 
Site anwendbar)*/

body{
    margin: 0;
}


/* No space btw body and header**/



#header h1{
    color: black;
    font-size: 40px;
    margin-left: 15px;
    margin-bottom: 0;
}

#top-links{
    margin-left: 600px;
    margin-top: -35px;
    background-color: solid green;
}

#top-links li {
        float: left;
        margin-left: 40px;
        list-style: none;

}

#top-links li a{
    padding: 10px;
    border: 1px solid black;
    color: white;
    
}

figure {
    margin: 0;
    padding: 0;
}



#cover_image{
    width: 100%;
    height: 300px;
    size: cover;
    margin-bottom: 0px;
}


#title {
    text-align: center;
    font-size: 30px;
    color: white;
    border: 1px solid black;
    background-color: black;
    margin-top: -15px;
    padding: 15px;
}


/*<!-- wie drüben
#content{
    background-color: green;
    max-width:  800px;
    margin: 0 auto;
}
--> */

#logo{
    width: 200px;
    margin-right: 80px;

}

#container{
    display: flex;
}

h2{
    font-size: 16px;
    /*Wie stellt man ein, dass es normal
     ist für home aber bold für about?*/
}



p{
    padding-left: 30px;
}



